*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background:hsl(0, 16%, 96%);
}
  ul{
      list-style: none;
  }  
.container{
    max-width:1248px;
    margin:auto;
    
}
.cr nav a{
    position: sticky;
    top: 0px;
}
.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.flex p{
    padding:0 100px;
}

nav{
    background: blue;
    height: 70px;
}

nav ul li{
    display:inline-block;
}
nav ul li a:hover{
    color:aqua;
}
nav ul li a{
    padding:10px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav .btn{
    background: #fff;
    color: red;
    border-radius: 10px;
    height: 20px;

}
nav .btn:hover{
    background: red;
    color: #fff;
}
nav .btn1{
    background: red;
    color: #fff;
    border-radius: 10px;
    height: 12px;

}
nav .btn1:hover{
    color: #fff;
}
nav .fa{
    font-size: 35px;
}
.pk{
    border-bottom: 1px solid rgb(235, 210, 210);
    
}
.pk img  {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding:8px;
    
}
.pk ul li{
    align-items: center;
    display: inline-flex;
    padding:3px 5px;
    margin: auto;
}
.pk input{
    width:300px;
    height:35px;
    border-radius: 25px;
    padding:15px;
    background:rgb(213, 213, 232);
}
.banner{
    padding:25px 40px 25px 25px;
    border-bottom: 1px solid rgb(235, 210, 210);
}
.text{
    
    font-size:30px;
    text-align:center;
    padding:15px;
    margin:20px;
    border-bottom: 1px solid rgb(235, 210, 210);
}
.text:hover{
    color:blue;
}
/* .icon2 ul img{
    
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
} */
.text2{
    
    font-size:30px;
    text-align:center;
    padding:15px;
    margin:20px;
    border-bottom: 1px solid rgb(235, 210, 210);
}
.text2:hover{
    color:blue;
}
.banner2{
        padding:25px 40px 25px 25px;
        border-top: 1px solid rgb(235, 210, 210);
}
.balen img{
    width:390px;
    height:400px;
}
.balen2{
    height:auto;
    position:relative;
    background-color: #fceded;
    
}
.balen h2{
    position: absolute;
    top: 25px;
    margin: 10px;
    font-size: 15px;
    color: #fff;
    padding: 10px;
    background: blue;
}
.balen h3{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
 .imgs{
    position:relative;
} 
.imgs img{
    display:inline;
    width: 287px;
    height:350px;
}

.pky2 img{
    width: 287px;
    height:350px;
}
.pky{
    height:auto;
    position:relative;
    background-color: red;
    /* width: 300px; */
}
.pky h1{
    text-align: center;
}
.pky2 h2{
    position: absolute;
    top: 335px;
    margin: 5px;
    font-size: 18px;
    text-align: center;
    z-index: 1000px;
    color: #fff;
    
}
.pky2 h2:hover{
    color: blue;
}
.pky2 img:hover{
    transform:scale(1.05);
    transition: 0.2s ease-in-out;
}
.fit{
    background-color: #E0E9F6;
}





/*
.text3 img{
    position: relative;

}
.text3 h2{
    position: absolute;
    bottom: 15px;
    text-align: center;
}
 
.text3{
    font-size:22px;
    text-align:center;
    
    margin:10px;
    bottom: 20px;
}*/
.imgs img:hover{
    transform:scale(1.05);
    transition: 0.2s ease-in-out;
}
.first img{
    width:500px;
    height:590px;
}
.first h2{
    position: absolute;
    top: 2700px;
    margin:0px 50px;
    font-size: 40px;
    text-align: center;

    
    color: #fff;
}
.first img:hover{
    transform:scale(1.05);
    transition: 0.2s ease-in-out;
}
.middle img{
    width:134px;
    height:120px;
    padding:10px;
    margin:10px;
}
.middle .last_middle{
    text-align: center;
    align-items: center;
    color: white;
    background-color: orange;
    padding:20px ;
    margin:30px;
    font-size:22px;
}
.foot{
    background-color: #F6F9FC;
    border-top: 1px solid #96bade;
    
}
.foot h2{
    color:blue;
    padding:20px 20px 20px 0;
    
}
.footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.icon3{
    padding: 4px 20px;
    
}
.p2{
    font-size: 10px;
    padding: 0px 0px 60px 10px;
}
.footer p{
    font-size: 12px;
    color: rgb(64, 62, 62);

}
.footer h3{
    font-size: 15px;
}
.footer .foot_border{
    border-right: 1px solid black;
    padding: 10px;
}
